---
import Layout from "../../layouts/Layout.astro";
import ScriptList from "../../components/ScriptList.astro";
import Home from "../../components/Home.astro";

export async function getStaticPaths() {
  const allScripts = Object.values(
    import.meta.glob("../scripts/*.mdx", { eager: true })
  );

  const uniqueTags = [
    ...new Set(allScripts.map((script: any) => script.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredScripts = allScripts.filter((script: any) =>
      script.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { scripts: filteredScripts },
    };
  });
}

const { tag } = Astro.params;
const { scripts } = Astro.props;
---

<Layout>
  <h1>Scripts tagged "{tag}".</h1>
  <Home />
  <ScriptList scripts={scripts} />
  
</Layout>

