---
import Layout from "../layouts/Layout.astro";
import ScriptList from "../components/ScriptList.astro";
const base = import.meta.env.BASE_URL;
const allScripts = Object.values(
  import.meta.glob("./scripts/*.mdx", { eager: true })
);

---

<Layout>
  <h1>Tampermonkey</h1>
  <p>
    Tampermonkey is a browser extension that can be used to add scripts to a
    website to extend its functionality.
  </p>
  <p>
    On this page you will find a list of scripts I have made that can be used
    for various purposes, primarily Canvas LMS.
  </p>
  <p>
    If you want to read more about Tampermonkey, you can
    <a href="https://www.tampermonkey.net/" target="_blank"
      >visit the Tampermonkey homepage</a
    >, where you will also find instructions on how to install it.
  </p>
  <p>
    The scripts on this page are made available as downloadble zip files which
    can be imported into Tampernonkey. If you want to, you can
    <a href={`${base}import`}
      >learn how to import scripts from zip files here</a
    >.
  </p>

  <h2>Scripts</h2>
  <p>
    Click the title of a script below to read more about a script and
    download it. Click on a tag to view scripts in the same category.
  </p>

  <ScriptList scripts={allScripts}/>
 
</Layout>

<style>
  h1 {
    font-size: 2rem;
    text-align: center;
  }


</style>
