---

---
<footer>
<div class="by">
  <p>Made by</p>
  <a href="https://www.uia.no/om-uia/ansatte/esper18/index.html" target="_blank"
    >Espen Raugstad</a>
</div>
<div class="disclaimer">
  <strong>Disclaimer:</strong>
  <p>
    The scripts provided on this webpage are available for download and use at
    your own risk. No guarantees or warranties are made regarding their
    functionality, performance, or suitability for any particular purpose. The
    author assumes no responsibility for any issues or damages that may arise
    from using these scripts.
  </p>
</div>
<div class="bugs">
  <p>Bugs?</p>
  <a href="mailto:espen.raugstad@uia.no">Mail me</a>
</div>
</footer>
<style>
footer{
    display: grid;
    grid-template-columns: 125px 1fr 125px;
    background-color: #252525;
    color: #F3F4F6;
    padding: 2rem 1rem;
    margin-top: 2rem;
   }
    footer a{
      color: #F3F4F6;
    }
    footer div{
      align-self: center;
      justify-self: center;
    }
    .by, .bugs{
      text-align: center;
    }
    .disclaimer{
      max-width:80ch;
    }
</style>